<!DOCTYPE html>
<html>
<head>
  <title>Movie Suggest</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/error.css">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-92231900-2');
  </script>

</head>     
<body>
  <div class="layer">
    
    <div class = "content">
      <h2>Sorry, there seems to be an error! The movie you searched for doesn't exist in our database currently</h2>
      <h2>Please contact sahith02@gmail.com for any requests</h2>
    </div>
  </div>
</body>
</html>
