<!DOCTYPE html>
<html>
<head>
  <title>Movie Suggest</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/home.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92231900-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-92231900-2');
  </script>


</head>     
<body>
<div class="layer">
  
  <div class = "content">
    <h2>Search for a movie to get recommendations</h2>
    <!--Make sure the form has the autocomplete function switched off:-->
    <form autocomplete="off" action="/get_n_movies" method="post">
      <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="movie" placeholder="Type here...">
      </div>
      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>

</div>


<script src="{{url_for('static', filename='home.js')}}"></script>

</body>
</html>
